.about {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 53.125rem;
    gap: 2rem;
  }

  &__article {
    max-width: 26.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;

    h3 {
      max-width: 23rem;
    }

    p {
      @include arial-r;
      font-size: 0.9375rem;
      line-height: 1.6;
      color: $color-dark-3xl;
    }
  }
}

@include tablet-768 {
  .about {
    scroll-margin-block-start: -4px;

    &__container {
      flex-direction: column;
      gap: 0;
    }

    &__article {
      margin-bottom: 10.85%;
    }

    &__puppy {
      order: 2;
    }
  }
}

@include mobile-500 {
  .about {
    h3 {
      max-width: 100%;
    }
  }
}
