html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
  min-height: 100%;
  position: relative;
}

[block-scroll] {
  overflow: hidden;
}

[class*='__container'] {
  max-width: $container-1200;
  padding-left: $container-padding-left;
  padding-right: $container-padding-right;
  margin-left: auto;
  margin-right: auto;

  // @include desktop-1280 {
  //   max-width: $content-970;
  // }

  @include tablet-768 {
    max-width: $container-768;
  }

  @include mobile-500 {
    max-width: $container-500;
  }
}

main section {
  padding-top: 5rem;
  padding-top: min(7%, 5rem);
  padding-bottom: 6.25rem;
  padding-bottom: min(10%, 6.25rem);

  @include tablet-768 {
    padding-top: min(10.5%, 5rem);
    padding-bottom: min(13.5%, 6.25rem);
  }
}

h2 {
  @include georgia-r;
  font-size: 2.75rem;
  line-height: 1.3;
  color: $color-light-xl;

  @include tablet-768 {
    font-size: clamp(2.25rem, 7.5vw, 2.75rem);
  }

  @include mobile-500 {
    font-size: 2.25rem;
    font-size: clamp(1.5625rem, 6.5vw, 2.25rem);
  }
}

h3 {
  @include georgia-r;
  font-size: 2.1875rem;
  line-height: 1.3;
  letter-spacing: 0.13125rem;
  color: $color-dark-l;
  text-wrap: balance;

  @include tablet-768 {
    font-size: clamp(1.875rem, 6vw, 2.1875rem);
  }

  @include mobile-500 {
    font-size: 2.25rem;
    font-size: clamp(1.5625rem, 6.5vw, 2.25rem);
    text-align: center;
  }
}

h4 {
  @include georgia-r;
  font-size: 1.25rem;
  line-height: 1.15;
  letter-spacing: 1.2px;
  color: $color-dark-l;
}

h5 {
  @include georgia-r;
  font-size: 0.9375rem;
  line-height: 1.1;
  letter-spacing: 0.9px;
  color: $color-dark-l;
}

.btn {
  display: block;
  max-width: max-content;
  padding: 0.9375rem 2.8125rem;
  @include georgia-r;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.06375rem;
  border-radius: 6.25rem;
  color: $color-dark-3xl;
  background-color: $color-primary;
  transition: background-color 200ms;
}

.small-btn {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  border: 2px solid $color-primary;
  transition: all 200ms;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

.none {
  display: none;
}
