@mixin arial-r() {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin arial-i() {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin georgia-r() {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
}

@mixin georgia-i() {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 400;
}
